@import "./styles.variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text-primary;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.section {
  min-height: 100vh;
  padding: 16px;
  width: 100%;
}
