.user-selection-container__title {
  margin-bottom: 40px;
}

.user-selection__selected-user {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  align-items: baseline;
  justify-content: flex-start;
}
